# Development
# MONGO_URL=mongodb://localhost:27017/dating-app
# Live
# mongo_url=mongodb+srv://assignment-nine:sby9aehzma5h6sdj@cluster0.tjc9clz.mongodb.net/ans-music?retryWrites=true&w=majority
MONGO_URL=mongodb+srv://tayeb2:ipwpdW4wJdnArOyj@cluster0.hluu9.mongodb.net/Track_Booking?retryWrites=true&w=majority
# MONGO_URL=mongodb://tayeb2:ipwpdW4wJdnArOyj@162.243.171.174:27017/Track_Booking
BASE_URL=192.168.10.152
PORT=6001
SOCKET_PORT=9001
NODE_DEV=production 
BCRYPT_SALT_ROUNDS=12
JWT_SECRET='bdCalling-IT'
JWT_EXPIRES_IN=30d
JWT_REFRESH_SECRET='fghfy64786895703hfgjhjgh76867kfghfghfghfghfg4656hfghfghfgh'
JWT_REFRESH_EXPIRES_IN=365d

PAYPAL_CLIENT_ID=Af2ARcfIrqb7Jd0cfKHH_Mlw1HEsPZD-L8dkkpFZLpBGQMNHN8-vKLHqqieKYmee46DO4EcFSHL6eQgD
PAYPAL_SECRET=EE3vsp4cNu0icv83qcxljtYncxo362hmo42-JXMwN7OmiMsuGGEXecO_AWCYCN79RcTSlCBiUJCvyM4e
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
 
RESET_PASS_UI_LINK= http://localhost:3000/?
ACTIVATION_SECRET=346387678979809456

SMTP_HOST=mail.privateemail.com
SMTP_PORT=465
SMTP_SERVICE=gmail
SMTP_MAIL=support@ansmusiclimited.com
SMTP_PASSWORD="GFDSH#423s"
SERVICE_NAME=Track Booking

